

<div class="container">
  <br>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="FirstName">First Name</label>
      <input type="text" class="form-control" id="FirstName"
      placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="LastName">Last Name</label>
      <input type="text" class="form-control" id="LastName"
      placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="phoneNumber">Phone Number</label>
    <input type="Number" class="form-control" id="phoneNumber" placeholder="05X - xxx xxxx">
  </div>
  <div class="form-group col-md-6">
    <label for="PphoneNumber">Parent Phone Number</label>
    <input type="Number" class="form-control" id="PphoneNumber" placeholder="05X - xxx xxxx">
  </div>
</div>

  <div class="form-row">
     <div class="form-group col-md-4">
      <label for="GradeLevel">Grade Level</label>
      <select id="GradeLevel" class="form-control">
        <option selected>IGCSE</option>
        <option>AS</option>
        <option>A2/A-level</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Syllabus">Syllabus</label>
      <select id="Syllabus" class="form-control">
        <option selected>Cambridge</option>
        <option>Edexcel</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="School">School</label>
      <input type="text" class="form-control" id="School">
    </div>
  </div>

  
  <br>
  <button type="submit" class="btn btn-primary">Submit Registration request</button>
</form>


</div>