

<div class="container ">
  <br>
<h1> OLD SYLLABUS </h1>
<hr>
<br>
<div class="list-group">
  <a href="../IGCSE/Mathp1o" class="list-group-item list-group-item-action active">
   Paper 1
  </a>
  <a href="../IGCSE/Mathp3o" class="list-group-item list-group-item-action">Paper 3</a>
  <a href="../IGCSE/Mathp6o" class="list-group-item list-group-item-action">Paper 6</a>
  
</div>

<br>


<h1> NEW SYLLABUS </h1>
<hr>
<br>

<div class="list-group">
  <a href="../IGCSE/Mathp2n" class="list-group-item list-group-item-action active">
   Paper 2
  </a>
  <a href="../IGCSE/Mathp4n" class="list-group-item list-group-item-action">Paper 4</a>
  <a href="../IGCSE/Mathp6n" class="list-group-item list-group-item-action">Paper 6</a>
  
</div>

</div>
