

	<div class="container ">
		<div class = "row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >

				<div class="jumbotron bg-warning">
					<h1 class="display-4">Hello, Students!</h1>
					<p class="lead">Registration is now Open for 2018/2019. 
						You can register either online or by phone.
					Contact Number:999999999</p>
					<hr class="my-4">

					<p class="lead">
						<a class="btn btn-primary btn-lg" href="#" role="button">Register Now!</a>
					</p>
				</div>
			</div>


			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="featured-media"> <!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3>Exclusive Curated Playlist: Vibes</h3> <p></p> <a class="btn-drop" name="viewDrop" ng-show="!item.locked" ng-href="#/drop/222?media=0" href="#/drop/222?media=0">View playlist</a> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/Deeper.png);"></div><div class="image-loader-progress"></div></div> </div> </div><!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3>Behind ZHU's GENERATIONWHY: Part 1</h3> <p></p> <a class="btn-drop" name="viewDrop" ng-show="!item.locked" ng-href="#/drop/222?media=1" href="#/drop/222?media=1">View video</a> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(Deeper.png);"></div><div class="image-loader-progress"></div></div> </div> </div><!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle reveal" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3></p> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/Deeper.png);  background-position: 10% 90%;"></div><div class="image-loader-progress"></div></div> </div> </div><!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3>"Hometown Girl" Track Premiere</h3> <p></p> <a class="btn-drop" name="viewDrop" ng-show="!item.locked" ng-href="#/drop/222?media=3" href="#/drop/222?media=3">View single</a> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/Deeper.png);"></div><div class="image-loader-progress"></div></div> </div> </div><!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3>Behind ZHU's GENERATIONWHY: Part 2</h3> <p></p> <a class="btn-drop" name="viewDrop" ng-show="!item.locked" ng-href="#/drop/222?media=4" href="#/drop/222?media=4">View video</a> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/Deeper.png);"></div><div class="image-loader-progress"></div></div> </div> </div><!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3>Exclusive Curated Playlist: Feels</h3> <p></p> <a class="btn-drop" name="viewDrop" ng-show="!item.locked" ng-href="#/drop/222?media=5" href="#/drop/222?media=5">View playlist</a> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(&quot;https://spotify-thedrop.s3.amazonaws.com/drops/2016-07/af-17b58aac96bc6cde56fd151341b7b3c0.jpg&quot;);"></div><div class="image-loader-progress"></div></div> </div> </div><!----><div ng-repeat="item in featured.content track by $index | limitTo: 5" class="main-featured-content"> <div class="featured-circle" ng-class="{reveal: isFeatured(item.item_index) &amp;&amp; backgroundLoaded, 'first-load': firstLoad}"> <div class="featured-bubble-content vertical-center"> <div class="mask-featured-bubble-content"> <h3>Behind ZHU's GENERATIONWHY: Part 3</h3> <p></p> <a class="btn-drop" name="viewDrop" ng-show="!item.locked" ng-href="#/drop/222?media=6" href="#/drop/222?media=6">View video</a> </div> </div> <div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(&quot;https://spotify-thedrop.s3.amazonaws.com/drops/2016-07/af-44eec75c8950f6bac7247f396ea0646b.jpg&quot;);"></div><div class="image-loader-progress"></div></div> </div> </div><!----> <!----><div ng-repeat="item in featured.content | limitTo: 5" class="featured-media-item item-0 revealed" media-circle="" ng-style="circleStyle" style="width: 9.48665em; height: 9.48665em;"><div class="featured-media-item-animation-container" ng-class="{locked: (item.locked === true)}">
					<a class="featured-media-item-circle" ng-click="selectFeature(item.item_index)">
						<div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/chat.png); background-color: #ffc107; background-size: 8rem"></div><div class="image-loader-progress"></div></div>

					</a>
				</div></div><!----><div ng-repeat="item in featured.content | limitTo: 5" class="featured-media-item item-1 revealed" media-circle="" ng-style="circleStyle" style="width: 8.61684em; height: 8.61684em;"><div class="featured-media-item-animation-container" ng-class="{locked: (item.locked === true)}">
					<a class="featured-media-item-circle" ng-click="selectFeature(item.item_index)">
						<div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/Chatbot-icon-002.png); background-size: 6rem; background-color: #ffc107"></div><div class="image-loader-progress"></div></div>

					</a>
				</div></div><!----><div ng-repeat="item in featured.content | limitTo: 5" class="featured-media-item item-2 revealed" media-circle="" ng-style="circleStyle" style="width: 12.3349em; height: 12.3349em;"><div class="featured-media-item-animation-container" ng-class="{locked: (item.locked === true)}">
					<a class="featured-media-item-circle" ng-click="selectFeature(item.item_index)">
						<div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/registration.png); background-color: #ffc107; background-size: 11rem"></div><div class="image-loader-progress"></div></div>

					</a>
				</div></div><!----><div ng-repeat="item in featured.content | limitTo: 5" class="featured-media-item item-3 revealed" media-circle="" ng-style="circleStyle" style="width: 5.72622em; height: 5.72622em;"><div class="featured-media-item-animation-container" ng-class="{locked: (item.locked === true)}">
					<a class="featured-media-item-circle" ng-click="selectFeature(item.item_index)">
						<div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/Chatbot-icon-002.png);  background-color:#ffc107;"></div><div class="image-loader-progress"></div></div>

					</a>
				</div></div><!----><div ng-repeat="item in featured.content | limitTo: 5" class="featured-media-item item-4 revealed" media-circle="" ng-style="circleStyle" style="width: 8.18098em; height: 8.18098em;"><div class="featured-media-item-animation-container" ng-class="{locked: (item.locked === true)}">
					<a class="featured-media-item-circle"	ng-click="selectFeature(item.item_index)">
						<div class="block-item-background image-loader image-loader-complete" image-loader="" image-loader-src="item.featured_image"><div class="image-loader-element" ng-style="backgroundImage" style="background-image: url(/images/paper-icon.png); background-size: 6rem; background-color:#ffc107;" ></div><div class="image-loader-progress"></div></div>

					</a>
				</div>
			</div>
		</div>
	</div>

