

<div class="container ">
<ul class="list-group">
 <li class="list-group-item list-group-item-warning">Physics</li>
 <li class="list-group-item list-group-item-primary">Chemistry</li>
  <li class="list-group-item list-group-item-secondary">Biology</li>
  <li class="list-group-item list-group-item-success">Mathematics</li>
  <li class="list-group-item list-group-item-danger">Arabic</li>
 
  <li class="list-group-item list-group-item-info">English</li>
  <li class="list-group-item list-group-item-dark">Business</li>
</ul>
</div>

