

<div class="container ">
<ul class="list-group">
<a href="../IGCSE/Physics" class="list-group-item list-group-item-action list-group-item-warning">Physics</a>
<a href="../IGCSE/Chemistry" class="list-group-item list-group-item-action list-group-item-primary">Chemistry</a>
<a href="../IGCSE/Biology" class="list-group-item list-group-item-action list-group-item-secondary">Biology</a>
<a href="../IGCSE/Math" class="list-group-item list-group-item-action list-group-item-success">Math</a>
 
<li class="list-group-item list-group-item-danger">Arabic</li>
 
<li class="list-group-item list-group-item-info">English</li>
<li class="list-group-item list-group-item-primary">Business</li>
<li class="list-group-item list-group-item-dark">Accounting</li>
<li class="list-group-item list-group-item-success">ICT</li>
</ul>
</div>

